.botonInfo {
    padding-left: 20px;
    padding-top: 40px;
}

.formInfoArt {
    padding: 20px;
    display: none;
}

#parrafoInfo{
    height: 60px;
    padding: 20px;
    margin: 20px;
}

#parrafoAler{
    height: 60px;
    padding: 20px;
    margin: 20px;
}


#formFactVta{
    display: none;
    padding-left: 20px;
}

#resultado{
    display: none;
}

#alerta{
    display: none;
}

#alertaVta {
    display: none;
}

#resultadoVta {
    display: none;
    padding-left: 20px;
}