.formInfoArt {
    margin-top: 20px;
    display: none;
}

#formFactVta{
    padding-left: 20px;
}

#resultado{
    display: none;
}

#alerta{
    display: none;
}

#alertaVta {
    display: none;
}

#resultadoVta {
    display: none;
    padding-left: 20px;
}

#seccionConsC{
    display:none;
}

#contenedor{
    display: flex;
}

#infoV {
    display: flex;
    flex-direction: column;
}

#contenedorInfVta {
    display: flex;
    flex-direction: column;
}

#botonesInfoV{
    display: flex;
}

#botonesInfoV button{
    max-width: 250px;
    width: 100%;
    padding: 6px 12px;   
    border: 1px solid gray;
}
#radio{
     padding-bottom: 0;
 }

 #subRadio{
     padding-top: 5px;
 }

 #btnEstilo{
     position: relative;
     left: 185px;
 }

 #formVtaDetalle div {
     padding: 0 5px;
 }

#formVtaDetalle div input{
    padding: 6px 5px;
}

#seccionConsultaCliente {
    display: none;
    margin-top: 10px;
}

#seccionConsultaCtaCliente {
    margin-top: 10px;
    display: none;
}

#formAltaCliente div {
    padding: 0 4px;
}

#buscandoCliente {
    display: none;
}

#contenedorCaja{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#contenedorInfVta{
    display: none;
}

#contenedorInfMes{
    display: none;
}










